EcoTips-Frontend/
Back_end/.idea/vcs.xml
Back_end/.idea/workspace.xml
EcoTipsMovile/Eco_Tips_Mobile/
EcoTipsMovile/
.idea/EcoTips.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
